/.venv/
/data/
/colour_detection/training_dataset/
/runs/detect/train2/
/runs/detect/yolov11s_carPlate2/
/runs/detect/train/
/runs/detect/yolov11n_carPlate2/
/runs/detect/yolov11s_carPlate/
/runs/detect/yolov11n_carPlate4/
/runs/detect/yolov11n_carPlate3/
/runs/detect/yolov11n_carPlate/
/runs/detect/yolov11s_carPlate3/
